ruff==0.12.3  # LTS as of 2025-06
pytest==8.4.1  # LTS as of 2025-06
pyyaml
pre-commit==4.2.0  # LTS as of 2025-06
openapi-spec-validator==0.7.2  # LTS as of 2025-06
requests==2.32.4  # LTS as of 2025-06
pytest-cov==6.2.1  # LTS as of 2025-06
vale==3.12.0  # LTS as of 2025-06
language-tool-python==2.9.4  # LTS as of 2025-06
pip-audit==2.9.0  # LTS as of 2025-06
mypy==1.16.1  # LTS as of 2025-06
bandit==1.8.6  # LTS as of 2025-06
shellcheck-py==0.10.0.1
